<p><%= @service.service_name %></p>
<p><%= @service.city %></p>
<p><%= @service.status %></p>
<p><%= @service.location %></p>
<p><%= @service.user_id %></p>
<%= link_to "New Service", new_service_path %>
<%= link_to "All Service", services_path %>



