<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>User_Type    |</th>
      <th>name         |</th>
      <th>email        |</th>
      <th>city</th>
      <th>state</th>
      <th>location</th>
      <th>address</th>
      <th>password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_type %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.location %></td>
        <td><%= user.address %></td>
        <td><%= user.password %></td>
        <td><%= link_to "Show", user %></td>
        <td><%= link_to "Edit", edit_user_path(user)%></td>
        <td><%= button_to "Destroy", user, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New user", new_user_path %>
<%= link_to "login", login_path %>
<%= button_to "logout", logout_path, method: :delete%>


