<p><%= @user.user_type %></p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.location %></p>
<p><%= @user.address %></p>
<p><%= @user.password %></p>
<%= link_to "New User", new_user_path %>


